:root {
  --white: #ffffff;
  --black: #171717;

  --color-100: #f2f2f2;
  --color-200: #eef0f4;
  --color-300: #d1d2d3;
  --color-400: #a5a6a9;
  --color-500: #999a9d;
  --color-600: #7b7c81;
  --color-700: #53555b;
  --color-800: #3a3939;
  --color-900: #2e3138;
  --color-1000: #26282e;
  --color-1100: #1e2024;
  --color-1200: #17181a;
  --color-1300: #0e0e10;

}