@use "@/app/styles/function" as *;

.section_header {
  display: grid;
  grid-template-columns: 1fr 74%;
  grid-column-gap: 70px;
  padding-bottom: 110px;

  .section_name {
    font-size: size(15px);
    line-height: size(20px);
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: var(--font-weight-600);
    font-family: var(--font-inter);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 7px;

      left: -15px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: var(--color-700);
    }
  }

  .section_title {
    font-size: size(60px);
    font-weight: var(--font-weight-600);
    line-height: size(70px);
    margin: 0;
    padding: 0;
    font-family: var(--font-playfair);
    letter-spacing: -1.8px;

  }
}