@use "@/app/styles/function" as *;

.section_header {

  .section_name {
    font-size: size(15px);
    line-height: size(20px);
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: var(--font-weight-600);
    font-family: var(--font-inter);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 7px;

      left: -15px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: var(--color-700);
    }
  }

}